/*************************  Стилт тела программы  ******************************************/
*{
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	font-family: 'Open Sans', 'sans-serif';
	background:#ffffff;
	font-size: 100%;
}
.wrap{
	margin:0 auto;
	width:80%;
}
.header_bg{
	background-color: #162341;
	background-size: 100%;
}



/*.breadcrumb {*/
	/*background: none;*/
	/*padding: 4% 2%;*/
/*}*/
/*.breadcrumb > .active {*/
	/*color: #A8B8D8;*/
/*}*/
/*.breadcrumb li,.breadcrumb li a{*/
	/*font-size: 14px;*/
	/*color: #ffffff;*/
	/*text-transform:capitalize;*/
	/*-webkit-transition: all 0.3s ease-in-out;*/
	/*-moz-transition: all 0.3s ease-in-out;*/
	/*-o-transition: all 0.3s ease-in-out;*/
	/*transition: all 0.3s ease-in-out;*/
/*}*/
/*.breadcrumb li a:hover{*/
	/*text-decoration: none;*/
	/*color:#F15F43;*/
/*}*/
.header{
	border-bottom: 1px solid black;
	background: #ffffff;
	padding: 2%;
}
.h_right{
	float: right;
	width: 72%;
}
.navbar-nav {
	margin-top:2%;
	margin-left: 10%;
}
.navbar-brand {
	line-height: 25px;
}
.menu li.active a{
	background: none;
	color:#F15F43;
	border-bottom:2px solid #F15F43;
}
.menu li a{
	font-size: 14px;
	text-transform: uppercase;
	color: #354B77;
	border-radius: 0;
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.menu li a:hover,.menu li.active a:hover{
	background: none;
	color: #F15F43;
	border-bottom:2px solid #F15F43;
}
.navbar-toggle {
  background-color: #354B77;
  border: 1px solid transparent;
}
.navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.my_search{
	margin-top: 2%;
}
.my_search input[type="text"]{
	color:#2C3547;
	box-shadow: none;
	border:1px solid rgb(226, 226, 226);
	padding: 18px 14px;
	font-size: 13px;
}
/*стили для глаза*/
.fa-eye{
	margin-top: 20px;
	color: lightgray;
}
/*Стили для стрелочек слайдера*/
.fa-chevron-left{
	margin-top: 110px;
}
.fa-chevron-right{
	margin-top: 110px;
}


/* стили для кнопки изменения языка */
.lng{
	margin-top: 25px;
	background: #326F95;
	color: #ffffff;
	line-height: 10px;
	padding: 9px 28px;
	text-transform: uppercase;
	border-radius: 20px;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.lng:hover{
	color:#ffffff;
	background: #354B77;
}
/* стили для кнопки админ панели */
.admin_pnl{
	margin-top: 25px;
	background: #326F95;
	color: #ffffff;
	line-height: 10px;
	padding: 9px 28px;
	text-transform: uppercase;
	border-radius: 10px;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.admin_pnl:hover{
	color:#ffffff;
	background: #354B77;
}
/*стили для кнопки поиска*/
.btn-default{
	background: #326F95;
	color: #ffffff;
	padding: 9px 27px;
	line-height:18px;
	text-transform: uppercase;
	border: none;
	outline:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:hover{
	color:#ffffff;
	background: #354B77;
}

.reg{
	margin-top: 25px;
	background: #326F95;
	color: #ffffff;
	padding: 9px 28px;
	line-height:10px;
	text-transform: uppercase;
	border-radius: 10px;
	outline:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.reg:hover{
	color:#ffffff;
	background: #354B77;
}

/*стили для кнопки about*/
.btn_style{
	font-size: 14px;
	color: #ffffff;
	background: #F15F43;
	padding: 12px 30px;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}
.btn_style:hover{
	background: #354B77;
}
/*стили для класификатора*/
.select {
}

/*Стили для блока новостей*/
.new_text>p{
text-align: left;
}
.new_text>span{
	font-size: 14px;
}
/************************************** Start footer_top ****************************************/
.footer_btm{
	background: #414A4C;
	color: white;
	text-align: center;
	font-size: 14px;


}
.footer1{
	padding: 4% 2% 4% 0;
}

/**************************************  Start feature  ********************************************/
.features{
	padding:4% 2%;
}

/***************************************  Start blog  **********************************************/
.blog{
	padding:4% 2%;
}

/******************************************  Start about  *******************************************/
.about{
	padding: 4% 2%;
}
.img_style{
	margin-top:10px;
}
.img_style img{
	width: 100%;
}
.about h4{
	color: #354B77;
}
.para{
	font-size: 13px;
	line-height: 1.8em;
	color: #434C5E;
}
.about_p {
	padding: 10px;
	margin-top: 2%;
}
.read_more {
	margin: 3% 0 2%;
}
/***************************************  Start contact ********************************************/
.contact{
	padding: 2%;
}
.contact_info h2{
	text-transform: uppercase;
	color: #354B77;
	font-size: 26px;
}
.company_ad h2{
	font-size: 26px;
	text-transform: uppercase;
	color: #354B77;
}
.company_ad p{
	font-size: 13px;
}
.company_ad p a {
	color: #F15F43;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.company_ad p a:hover{
	text-decoration:none;
	color: #354B77;
}
.contact-form h2{
	font-size: 26px;	
	text-transform: uppercase;
	color: #354B77;
}
.contact-form span{
	display:block;
	text-transform: capitalize;
	font-size: 13px;
	color: #9499A3;
	font-weight: normal;
	margin-bottom: 10px;
}
.contact-form textarea {
	font-family: 'Open Sans', 'sans-serif';
	padding: 10px;
	display: block;
	width: 99.3333%;
	background: #ffffff;
	outline: none;
	color: #c0c0c0;
	font-size: 0.8725em;
	border: 1px solid #ECECEC;
	-webkit-appearance: none;
	resize: none;
	height: 120px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-form textarea:focus{
	border:1px solid #66afe9;
}
.form-control{
	box-shadow: none;
	border: 1px solid #ECECEC;
}
.form-control:focus {
	box-shadow: none;
}
.contact-form input[type="submit"] {
	margin-top:20px;
	font-family: 'Open Sans', 'sans-serif';
	-webkit-appearance: none;
	float: right;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	padding: 12px 30px;
	font-size: 0.8925em;
	color: #ffffff;
	background: #F15F43;
	text-transform: uppercase;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact-form input[type="submit"]:hover{
	background: #354B77;
}

/*************************************************   Media Quries  *****************************/
@media only screen and (max-width: 1440px) and (min-width: 240px)  {
	.wrap{
		width:95%;
	}
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1024px) {
	.logo img{
		width: 60%;
	}
	.h_right {
		width: 80%;
	}
	.nav > li > a {
		padding: 4px 8px;
	}
	.slider_text h2 {
		font-size: 4em;
	}
	.slider {
		margin-top: 2%;
	}
	.slider_text h3 {
		font-size: 2.5em;
	}
	.navbar-nav {
		margin-left: 0%;
	}
	.span1_of_4 h4 {
		font-size: 2em;
	}
	.images_1_of_1 p {
		line-height: 90px;
	}
}




@media only screen and (max-width: 768px) {
	.header_bg {
		background-size: 100% 150%;
	}
	.menu li.active a {
		border-bottom: none;
	}
	.menu li a:hover,.menu li.active a:hover{
		border-bottom: none;
	}
	.slider_text h2 {
		font-size: 2.8em;
	}
	.slider_text h3 {
		font-size: 2em;
	}
	.breadcrumb {
		padding: 4% 2% 2%;
	}
	.grid1_of_3 img {
		margin: 0% 0;
	}
	.grid_list{
		margin: 2% 0;
	}
	.images_1_of_1 p {
		line-height: 66px;
	}
	.span1_of_4 h4 {
		margin-bottom: 1%;
		margin-top: 2%;
	}
	.span1_of_4 h5 {
		margin-top: 2%;
	}
	.span1_of_4 p.top {
		margin-top: 1%;
	}
	.span1_of_4 span a {
		margin-top: 1%;
	}
	.footer1,.copy p{
		text-align:center !important;
	}
	.feature p {
		margin-top: 0%;
	}
	.feature a {
		margin-bottom: 4%;
	}
	.blog_right{
		margin-top: 4%;
	}
	.contact-form input[type="submit"] {
		margin: 15px 0;
	}
}
@media only screen and (max-width: 640px){
	.navbar-toggle {
		margin-top: 18px;
	}
	.slider_text h2 {
		font-size: 2.5em;
	}
	.slider_text h3 {
		font-size: 1.8em;
	}
}
@media only screen and (max-width: 480px) {
	.slider_text h2 {
		font-size: 2em;
	}
	.slider_text h3 {
		font-size: 1.2em;
	}
	.grid_1_of_1 h3 {
		line-height: 24px;
	}
	.grid_1_of_1 p {
		font-size: 13px;
		line-height: 1.5em;
	}
	.images_1_of_1 p {
		font-size: 5em;
		line-height: 1.44em;
	}
	.breadcrumb {
		padding: 4% 2% 0%;
	}
}
@media only screen and (max-width: 320px) {
	.slider_text h2 {
		font-size: 2.4em;
	}
	.slider_text h3 {
		font-size: 1.5em;
	}
	.slider_img img{
		width: 50%;
	}
	.grid1_of_3{
		margin-top: 30px;
	}
	.grid1_of_3 h2 {
		font-size: 26px;
	}
	.grid_1_of_1 h3 {
		font-size: 1.2em;
	}
	.images_1_of_1 p {
		font-size: 3em;
		line-height: 60px;
	}
	.hide{
		display: none;
	}
	.grid_1_of_1 {
		padding: 2%;
	}
	.breadcrumb li, .breadcrumb li a {
		font-size: 12px;
	}
	.span1_of_4 {
		margin-top: 20px;
	}
	.span1_of_4 span{
		margin: 10px 0;
	}
}


