body{margin: 0px; font-family:Verdana, Arial, sans-serif;  font-size:14px; background: #f1f1f1;  padding:0px;} /*background:#ccc;    background: #EAEAEA;*/
html,body { height:100%; }
a, .link{color:#336699;  text-decoration:none; cursor:pointer;}
a:hover, .link:hover{color:#d64a31; text-decoration:none; cursor:pointer;}
h1{font-size:22px; margin:0px; font-weight: normal; font-weight: 300;  font-family: 'Roboto', arial, serif;}
h2{font-size:20px; margin:0px; font-weight: normal; font-weight: 300;  font-family: 'Roboto', arial, serif; }
h3{font-size:18px; margin:0px; font-weight: normal; font-weight: 300;  font-family: 'Roboto', arial, serif;}
h4{font-size:16px; margin:0px; font-weight: normal; font-weight: 300;  font-family: 'Roboto', arial, serif;}
img{border:0px; }
ul{margin:0px 0px 0px 50px; padding:0px; }
ol{margin:0px 0px 0px 50px; padding:0px; } 
ol li{line-height:20px; margin:5px 0px 5px 0px;}
table{border-collapse:collapse;}
table tr td p {margin:0px; padding:0px; text-indent:0px;}
.list{margin:0px 0px 0px 20px;}
#text1, #text2, #text3 {color:#000; background:#fff; }
.highlight{color:red;}
.bold{font-weight:bold;}
.comment{color:#555; font-size:10px;}
.red_text{color:red;}
.gray_text{color:#555;}
.centertext{text-align:center;}
.clear{clear:both; width:100%; height:1px;}
.clear_left{clear:left; width:100%; height:1px;}
.clear_right{clear:right; width:100%; height:1px;}
.minispacer{height:10px; width:100%;}
.spacer{height:15px; width:100%;}
.roboto{ font-weight: 300;  font-family: 'Roboto', arial, serif;}


	.page{ width:1280px; margin:20px auto 20px auto; padding:0px 30px; height:800px;   background: #fff;    border: 1px solid #ccc;   }
	
	
	
				
		
		
	
	.head{ color:#fff;  background:#2f3f60; background:#002747 url(/img/menu_bg2.png) center 0px no-repeat;  background-size:cover; width:100%; margin:0 auto;   } /*background:#2f3f60; background:url(/img/test.PNG) fixed; background-size:cover; */
		.head_border2{width:100%; height:10px; background:url(/img/footer_top.png)top center repeat-x; }
		.head_thin_border{width:100%; height:1px; background:#ffcc00; }
		
		
		
		
		.head_content{ width:1280px; height:160px; padding:10px 0px 10px 0px; margin:0 auto; position:relative; }
		
			.head_kozak{ position:absolute; top:-5px; right:230px; background: url(/img/kozak22.PNG) center center no-repeat; z-index:1;  background-size:contain; width:250px; height:180px;}
			
			
			
			.head_ukraine{display:none; position:absolute; top:20px; right:220px;	opacity:0.95;	 background: url(/img/ukraine.png); width:195px; height:133px;  }
		
		
		
			.head_logo{width:150px; text-align:center; float:left; margin:0px 20px 0px 0px;}
			.head_logo img{width:150px; height:150px; }
		
		
		
			.head_content_logo{float:left; width:550px; position:relative; margin:10px 0px 10px 0px;  } /*  position:absolute; left:330px;  height:150px; */
				.head_logo_title{width:420px; float:left; font-size:30px; padding:25px 0px 5px 0px;  border-bottom:1px solid #bbb;}
				.head_logo_sub_title{width:450px; float:left; margin:7px 0px 0px 0px; font-size:16px; position:relative;}
			
			
			
			
			.head_content_contacts{width:500px; height:150px; float:right;	position:absolute; z-index:10; right:0px; margin:15px 0px 30px 0px;}
				.head_content_contacts_text{padding:0px 0px 5px 0px;  font-size:18px; text-align:right;}
					.head_content_contacts_text_title{font-size:28px; }
					.head_content_contacts_social {margin:10px 0px 0px 0px;}
					.head_content_contacts_social img{width:24px;}
					
			
			
			
			
		.head_menu{width:100%; background:url(/img/menu_bg.png); height:40px; color:#000; color:#fff; padding:10px 0px 10px 0px;}	
		.head_menu_content{width:1280px; height:30px; margin:0 auto; padding:5px 0px; line-height:30px; position:relative;}	
			.head_menu_item{cursor:pointer; display:inline; padding:20px 0px 17px 0px;  height:30px; line-height:32px;  font-size:17px;  font-weight: 300;  font-family: 'Roboto', arial, serif;}	/* */
			.head_menu_item:hover{background:#; color:#fff; border-bottom:3px solid #ffd601;}	
			.head_menu_item_current{border-bottom:3px solid #ffd601;}
			.head_menu_item_langs{position:absolute; top:3px; right:0px;}
				.head_menu_item_langs img{margin:5px 5px 0px 5px; cursor:pointer;}
			
			.head_menu_item a{ color:#fff; padding:20px 15px 17px 18px; height:30px; line-height:32px;  font-size:17px;  font-weight: 300;  font-family: 'Roboto', arial, serif;}
			
			
		.head_border_1{height:4px; background:#1c66ad; width:100%;}
		.head_border_2{height:4px; background:#ffea38; width:100%;}
		
		
		
		
		.content{width:1275px;border: 1px solid #ccc;    box-shadow: 0 2px 10px rgba(0,0,0,.2); background:#fff;  border-top:0px; border-bottom:0px; min-height:700px; padding:0px 20px 0px 20px; margin:0px auto 0px auto; } /*border:1px solid #777;*/
			.navigation { font-size : 12px; padding:10px 0px;color:#777; } 
			.navigation  img{margin:0px 7px; } 
			
		/*	border:1px solid #ccc; */
			.content_left{width:200px; float:left; margin:0px 0px 0px 0px;}
				.content_left_sub_block{width:;background:#fafafa; padding:0px 0px 10px 0px;}
					.content_left_sub_title{background:url(/img/test.png); color:#fff; border:1px solid #aaa; border-bottom:0px; border-right:0px;  border-left:0px;  padding:0px 10px; text-align:left; font-size:12px; cursor:pointer; margin:0px 0px;} /* background:url(/img/bg-3.png);  */
						.content_left_sub_title:hover{  border-left:3px solid #ffd601; background:url(/img/bg-3.png); color:#fff;}	
						.content_left_sub_title a{  color:#fff; display:block; padding:10px 0px;}	
						
							.content_left_sub_block_content{  margin:0px 0px; background:#fafafa;}
							.content_left_sub_block_content img{ }
						
					.content_left_block_text{text-align:; padding:10px 5px; width:; margin:0 auto; color: #25333a; line-height:18px; font-size: 12px;}
					
					
					.sub_gallery {text-align:center; padding:10px 0px 10px 0px; font-size:12px;}
					.sub_gallery img{max-width:90%;}
					
					
					.pub_block{}
						.pub_img{text-align:center; float:left; width:100px; max-height:100px; border-radius: 3px; padding:1px; margin:0px 10px 0px 0px; }
						.pub_img img{max-width:100px; max-height:100px; border-radius:3px;}
						
						.pub_holder{float:left; width:120px;}
							.pub_title h3{margin:0px;font-size:14px;}
							.pub_date{color:#777; font-size:10px; margin:5px 0px;}
							.pub_text{font-size:11px;}
							
					.article_spacer {clear:both; height:10px;}	
					.article_divider {height:1px; border-top:1px dashed #ccc;}	
		
		
		.sub_pages_full_list{margin:20px 0px; line-height:190%; background:url(/img/after.png) 0px 8px no-repeat; padding:0px 0px 0px 15px;}
		
			/******************* GALLERIES ************************/
			.album{width:250px; margin:0px 25px 50px 25px; border:1px solid #ccc; border-radius:3px; float:left;}
					.album_img{width:250px; height:170px; cursor:pointer;}
					
					.album_title{    background: url(/img/test.png); color:#fff; padding:5px; text-align:center; min-height:35px; max-height:65px; overflow:hidden;}
					.album_title a{ color:#fff; text-decoration:none;}
					.album_title a:hover{text-decoration:underline; color:#fff;}
				.album_spacer {width:70px; height:200px; float:left; }

				
				/* view */
				.album_photo{width:142px; height:142px; margin-bottom:30px; min-height:100px; max-height:200px; padding:1px;  border:1px solid #4f483b; border-radius:3px; float:left;}
				.album_photo img{border-radius:3px; width:142px; height:142px;}
				.album_photo_spacer {width:20px; height:1px; float:left;}
			
			/******************* PAGES ************************/
			.pages_link_current{font-family: Verdana, Arial, sans-serif;font-size:12px;	display: inline-block;	margin-right: 4px;	background: #e9e9e9;font-weight: bold;	text-decoration: none;	color: #f0f0f0;	border: solid 1px #000;	border-radius: 2px;	padding:3px 7px;background: #616161;box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);text-shadow: 0px 0px 3px rgba(0,0,0, .5);	} 
					
					.pages_link{ font-family: Verdana, Arial, sans-serif; font-size:12px; display:inline-block; margin-right: 4px; border-radius: 2px; border: solid 1px #c0c0c0; background: #e9e9e9;	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9)); background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);	font-weight: bold;	text-decoration: none;	text-shadow: 0px 1px 0px rgba(255,255,255, 1);	}
					.pages_link:hover{	background: #eeeeee;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eeeeee));background: -moz-linear-gradient(0% 0% 270deg,#fff, #eeeeee);	}
					.pages_link a{display:block; padding:3px 7px; color: #000; text-decoration:none;}
					.pages_link a:hover{color:red;}
			
			
			.content_center{width:740px; padding:0px 20px; min-height:700px; float:left; margin:0px 0px 0px 0px; border-right:1px solid #ccc; border-left:1px solid #ccc;}
		.content_text{	line-height:160%; }
		.content_text img{	max-width:740px; }
			
				.content_title{padding:0px 20px 10px 20px;  margin: 10px auto 10px auto;    position: relative;    text-align: center;  line-height: 24px;  } /*  background: url(/img/title_border.png) left 50% repeat-x;*/
					.content_title h1{background:#fff; display:inline; padding:0px 10px;}
					.content_title h2{background:#fff; display:inline; padding:0px 10px;}
					.content_title h3{background:#fff; display:inline; padding:0px 10px;}
					
			
				.news_content_item{width:740px; }
					.news_content_item_img{float:left; text-align:center; width:250px; height:167px; padding:2px; border:1px solid #2f3f60; margin:0px 20px 0px 0px;}
						.news_content_item_img img{width:250px; height:167px;}
					
					.news_content_item_content{float:left; width:460px;}
						.news_content_item_title{}
						.news_content_item_title a:hover{text-decoration:underline;}
						.news_content_item_date{color: #777; background:url(/img/date.png) left center no-repeat; padding:0px 0px 0px 20px;   font-size: 11px;    margin: 15px 0px;}
						.news_content_item_text{color: #25333a;  line-height:18px;  text-align: justify;    font-size: 12px;}
						.news_content_item_link{font-size: 12px; float:right;}
						.news_content_item_link a{text-decoration:underline;}
						.news_content_item_link a:hover{text-decoration:none;}
			
			
			.news_block{}
					.article_holder{float:left; width:420px;}
						.article_title h2{margin:0px;  }
						.article_date{color:#777; font-size:11px; margin:5px 0px;}
						.article_text{color:#25333a;  text-align:justify; font-size:12px;}
						.article_more{margin:5px 0px; font-size:12px;}
						.article_more a{text-decoration:underline;}
					.article_img{text-align:center; float:left; width:200px; height:150px; border-radius: 3px; padding:1px; margin:0px 10px 0px 0px; }
					.article_img img{max-width:200px; max-height:150px; border-radius:3px;}
				
					.article_spacer {clear:both; height:10px;}	
					.article_divider {height:1px; border-top:1px dashed #ccc;}	
			
			
			/******************* PAGES ************************/
			.pages_link_current{font-family: Verdana, Arial, sans-serif;font-size:12px;	display: inline-block;	margin-right: 4px;	background: #e9e9e9;font-weight: bold;	text-decoration: none;	color: #f0f0f0;	border: solid 1px #000;	border-radius: 2px;	padding:3px 7px;background: #616161;box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);text-shadow: 0px 0px 3px rgba(0,0,0, .5);	} 
					
					.pages_link{ font-family: Verdana, Arial, sans-serif; font-size:12px; display:inline-block; margin-right: 4px; border-radius: 2px; border: solid 1px #c0c0c0; background: #e9e9e9;	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9)); background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);	font-weight: bold;	text-decoration: none;	text-shadow: 0px 1px 0px rgba(255,255,255, 1);	}
					.pages_link:hover{	background: #eeeeee;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eeeeee));background: -moz-linear-gradient(0% 0% 270deg,#fff, #eeeeee);	}
					.pages_link a{display:block; padding:3px 7px; color: #000; text-decoration:none;}
					.pages_link a:hover{color:red;}
			
			
			
			
		.files h3, .photos h3{}	
			.file{margin: 7px; }
			.photo{float:left; width:80px; height:80px;  margin: 7px; }
			.photo img{ border: 3px solid #113f68; width: 75px; height: 75px; padding: 1px; background: white;}
			.file img{border:0px; width:16px; height:16px; padding:0px 5px 0px 0px;}
			
		
			
			
			
			
			
			.content_right{width:290px; float:left; margin:0px 0px 0px 0px;}
				.content_sub_block{width:;background:#f7f7f7; padding:0px 0px 10px 0px;}
					.content_sub_title{text-align:center; margin:0px 0px; padding:10px 10px;
						background:#d7d7d7;color:#000; 
						background:#ccc; color:#000;
						background:url(/img/test.png); color:#fff;
						}
					
					.content_right_block_text{text-align:; padding:10px 0px; width:240px; margin:0 auto; color: #25333a; line-height:18px; font-size: 12px;}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	.footer{width:100%; line-height:30px; color:#fff; background:#231f20; text-align:center; font-size:13px; }	
		
		
		