html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
 .your-form-selector {
    display: inline-block;}
.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font-size: 14px/12px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
 
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 60%;
  line-height: 30px;
  font-size: 14px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:-moz-placeholder {
  color: #bcc0c8 !important;
}

::-webkit-input-placeholder {
  color: #bcc0c8;
}

:-ms-input-placeholder {
  color: #bcc0c8 !important;
}

body {
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  color: black;
}

input, textarea, select, label {
  font-family: inherit;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login {
  margin: 50px auto;
  padding: 18px 20px;
  width: 200px;
  background: #3f65b7;
  background-clip: padding-box;
  border: 1px solid #172b4e;
  border-bottom-color: #142647;
  border-radius: 5px;
  background-image: -webkit-radial-gradient(cover, #437dd6, #3960a6);
  background-image: -moz-radial-gradient(cover, #437dd6, #3960a6);
  background-image: -o-radial-gradient(cover, #437dd6, #3960a6);
  background-image: radial-gradient(cover, #437dd6, #3960a6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}
.login > h1 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.login-input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10 9px;

  color: black;
  text-shadow: 0 1px black;

  background: ;

  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

.login-input-midle {
  display: block;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  padding: 10 9px;

  color:#0d1827 ;
  text-shadow: 0 1px black;

  background: ;

  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 3px;
  border-radius: 3px;
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}


h1{
  font-size: 1rem;
padding-bottom: 10px;}
.login-input:focus {
  outline: 0;
  background-color: silver;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
}
.login-input-midle:focus {
  outline: 0;
  background-color: silver;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
}
.lt-ie9 .login-input {
  line-height: 35px;
}

.login-submit {
  display: block;
  width: 100%;
  height: 37px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #294779;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background: #5c4135;
  background-clip: padding-box;
  border: 1px solid #284473;
  border-bottom-color: #223b66;
  border-radius: 4px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #5c4135, #5c4135);
  background-image: -moz-linear-gradient(top, #d0e1fe, #96b8ed);
  background-image: -o-linear-gradient(top, #d0e1fe, #96b8ed);
  background-image: linear-gradient(to bottom, #d0e1fe, #96b8ed);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
}
.login-submit:active {
  background: #5c4135;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
  
}

.login-help {
  text-align: center;
}
.login-help > a {
  font-size: 11px;
  color: red;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}
.login-help > a:hover {
  text-decoration: underline;
}
td {
  padding-top: 10px;
  padding-left: 100px;
  padding-bottom: 1px;

}
p{
  font-size: 10px;

}

span{
    font-style:  Arial, sans-serif;

}
a{
  color: #534F87;
}
select{
   font-style:  Arial, sans-serif;
}
label{
  font-size: 12px;
}
/*-----------------------------*/


 @font-face {
    font-family: Ancient_Kyiv; /* Имя шрифта */
    src: url(font-face/Ancient_Kyiv.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: AuriolC; /* Имя шрифта */
    src: url(font-face/AuriolC.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: Mauryssel_Bold; /* Имя шрифта */
    src: url(font-face/Mauryssel_Bold.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family:Roboto-Regular; /* Имя шрифта */
    src: url(font-face/roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   a,h1,td,tr{
    font-family: Roboto-Regular;
    font-size: 0,7rem;
   }
h3,{
  font-size: 14px;
}



/*------------Оформлення таблиці-----------------*/


.styletable  body {
  background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);
  color: #444;
  font: 100%/30px ;
  text-shadow: 0 1px 0 #fff;
   font-family: Roboto-Italic;
   
}

.styletable strong {
  font-weight: bold; 
}

.styletable em {
  font-style: italic; 
}

.styletable table {
  background: #f5f5d6;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 100%;
} 

.styletable th {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;  
}



.styletable th:first-child {
  border-left: 1px solid #777;  
  box-shadow: inset 1px 1px 0 #999;
}

.styletable th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

.styletable td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

.styletable td:first-child {
  box-shadow: inset 1px 0 0 #fff;
} 

.styletable td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
} 

.styletable tr {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png); 
}

.styletable tr:nth-child(odd) td {
  background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png); 
}

.styletable tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff; 
}

.styletable tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
} 

.styletable tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
} 


.styletable th{
  margin: 0 auto; background-color:red;  
}
i{ padding-right: 5px;}
/*-----------------------------*/


/*-------------Оформлення значків----------------*/
         
            .fa-pencil{color:#708090;}
            .fa-cog{color:#4682B4; }
            .fa-arrow-up{color:#FFD700; }
            .fa-arrow-down{color:#228B22; }
            .fa-eye{color: #8B795E}
            .fa-trash-o{color:#8B2323 }
         
/*-----------------------------------------------*/

/*------------Повідомлення -------------*/



/*-----------------------------------------------*/